 /* h1 styles */
 .one h1 h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before h2:before{
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h2:after h1::after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }